In [1]:
#Check the current working directory
import os
import pandas as pd
os.getcwd()

'C:\\Users\\Abhilash Jha\\Database Assigment'

In [2]:
import sqlite3

In [3]:
conn= sqlite3.connect('/Users/Abhilash Jha/BEMM459J.db')

In [4]:
# conn.execute("PRAGMA foreign_keys= 1")

In [5]:
#Set the cursor 
cursr=conn.cursor()

## Creating the tables and Inserting the Data into tables

### Payment Table

In [118]:
cursr.execute('drop table if exists Payment;')

In [119]:
qry ='''
CREATE TABLE Payment (
payment_id INTEGER PRIMARY KEY,
payment_date VARCHAR (12) NOT NULL,
payment_method VARCHAR (12) NOT NULL);'''
cursr.execute(qry)

## Inserting records in the Payment Table

In [120]:
data_ins ="Insert into Payment (Payment_ID, Payment_Date, Payment_Method) VALUES (?,?,?);" 


payment= [(1000000001,'01-May-2020','Mobile payment'),
          (1000000002,'01-May-2020','Credit Card' ),
          (1000000003,'03-May-2020','Credit Card' ),
          (1000000004,'04-May-2020','Credit Card' ),
          (1000000005,'05-May-2020','Credit Card' ),
          (1000000006,'05-May-2020','Credit Card' ),
          (1000000007,'03-May-2020','Credit Card' ),
          (1000000008,'10-May-2020','Mobile payment' ),
          (1000000009,'06-June-2020','Credit Card'),
          (1000000010,'03-May-2020','Mobile payment' )]

In [122]:
payment = pd.DataFrame(payment,columns=['Payment_ID', 'Payment_Date', 'Payment_Method'])

In [123]:
for i in range(len(payment)):
    cursr.execute(data_ins,[int(payment['Payment_ID'][i]),payment['Payment_Date'][i],payment['Payment_Method'][i]])

In [124]:
cursr.execute('select * from payment').fetchall()

[(1000000001, '01-May-2020', 'Mobile payment'),
 (1000000002, '01-May-2020', 'Credit Card'),
 (1000000003, '03-May-2020', 'Credit Card'),
 (1000000004, '04-May-2020', 'Credit Card'),
 (1000000005, '05-May-2020', 'Credit Card'),
 (1000000006, '05-May-2020', 'Credit Card'),
 (1000000007, '03-May-2020', 'Credit Card'),
 (1000000008, '10-May-2020', 'Mobile payment'),
 (1000000009, '06-June-2020', 'Credit Card'),
 (1000000010, '03-May-2020', 'Mobile payment')]

## Order Table

In [132]:
cursr.execute('drop table if exists Orders;')

In [133]:
qry1 ='''CREATE TABLE Orders (
order_id INTEGER (10) NOT NULL,
customer_id INTEGER (10) NOT NULL,
payment_id INTEGER (10) NOT NULL,
menu_id INTEGER (10) NOT NULL,
feedback_id INTEGER (10) NOT NULL,
order_Date VARCHAR (12) NOT NULL,
order_qty INTEGER (10),
cost float);'''
cursr.execute(qry1)

## Inserting Data into Order Table

In [134]:
data_ins1 ="Insert into Orders(Order_ID, customer_id, payment_id, menu_id, feedback_id, Order_Date, order_qty, cost) VALUES (?,?,?,?,?,?,?,?);"

Orders =  [
          (7000000001, 6000000001,1000000001,22,901,'01-May-2020',2,20),
          (7000000002, 6000000002,1000000002,20,902,'01-May-2020',1,10),
          (7000000003, 6000000003,1000000003,34,903,'03-May-2020',3,60),
          (7000000009, 6000000004,1000000004,29,909,'04-May-2020',4,20),
          (7000000004, 6000000009,1000000005,34,904,'05-May-2020',5,100),
          (7000000005, 6000000001,1000000006,54,905,'05-May-2020',1,10),
          (7000000007, 6000000002,1000000007,33,907,'03-May-2020',4,60), 
          (7000000008, 6000000008,1000000008,45,908,'04-May-2020',2,10),
          (7000000010, 6000000002,1000000009,34,910,'04-May-2020',2,40),
          (7000000006, 6000000006,1000000010,22,906,'03-May-2020',1,10)
         ]

In [135]:
Orders = pd.DataFrame(Orders,columns=['Order_ID', 'customer_id', 'payment_id', 'menu_id', 'feedback_id', 'Order_Date', 'order_qty', 'cost'])

In [136]:
for i in range(len(Orders)):
    cursr.execute(data_ins1,[int(Orders['Order_ID'][i]), int(Orders['customer_id'][i]), int(Orders['payment_id'][i]), int(Orders['menu_id'][i]), int(Orders['feedback_id'][i]),Orders['Order_Date'][i], int(Orders['order_qty'][i]), int(Orders['cost'][i])])

In [139]:
cursr.execute('select * from Orders;').fetchall()

[(7000000001, 6000000001, 1000000001, 22, 901, '01-May-2020', 2, 20.0),
 (7000000002, 6000000002, 1000000002, 20, 902, '01-May-2020', 1, 10.0),
 (7000000003, 6000000003, 1000000003, 34, 903, '03-May-2020', 3, 60.0),
 (7000000009, 6000000004, 1000000004, 29, 909, '04-May-2020', 4, 20.0),
 (7000000004, 6000000009, 1000000005, 34, 904, '05-May-2020', 5, 100.0),
 (7000000005, 6000000001, 1000000006, 54, 905, '05-May-2020', 1, 10.0),
 (7000000007, 6000000002, 1000000007, 33, 907, '03-May-2020', 4, 60.0),
 (7000000008, 6000000008, 1000000008, 45, 908, '04-May-2020', 2, 10.0),
 (7000000010, 6000000002, 1000000009, 34, 910, '04-May-2020', 2, 40.0),
 (7000000006, 6000000006, 1000000010, 22, 906, '03-May-2020', 1, 10.0)]

### Customer Table

In [259]:
cursr.execute('drop table if exists Customer;')

In [260]:
qry2 = '''CREATE TABLE Customer (
Customer_ID INTEGER (10) NOT NULL,
Firstname VARCHAR (30) NOT NULL,
Lastname VARCHAR (30),
Email VARCHAR (30) NOT NULL,
Gender Varchar (10) NOT NULL,
Address Varchar (50) NOT NULL,
Postcode Varchar (50) NOT NULL,
Town Varchar (100),
State Varchar (100),
Status Boolean (1)); '''
cursr.execute(qry2)

### Inserting Data into the Customer Table

In [261]:
data_ins2 ="Insert into Customer(Customer_ID, Lastname, Firstname, Email, Gender, Address, Postcode, Town, State, Status) VALUES (?,?,?,?,?,?,?,?,?,?);"

Customer =  [(6000000001,'Randolph','Fitzgerald H.','enim.nec@elit.ca', 'M', '481-3524 Donec Av.', '481-3524', 'Estevan','SK','ACTIVE'),
          (6000000002,'Underwood','Nehru B.','sem@nisi.ca', 'M', 'P.O. Box 194, 9109 Nascetur St.', '194-9109', 'Kırıkhan','Hatay','ACTIVE'),
          (6000000003,'Ray','Yael U.','in@parturientmontesnascetur.co.uk', 'M', '8886 Nam Av.', '431-4534', 'Neudörfl','Bgl','ACTIVE'),
          (6000000004,'Mejia',' Barry R.','In.ornare@etipsum.co.uk', 'M', '636-448 Auctor St.', '636-448', 'Qambar Shahdadkot','Sindh','ACTIVE'),
          (6000000009,'Chapman','Lois P.2','elit.Aliquam.auctor@erateget.ca', 'M', '544-8399 Quam. St.', '544-8399', 'Besançon','Franche-Comté','ACTIVE'),
          (6000000005,'Brennan',' Skyler B.','aliquet.sem.ut@blandit.org', 'M', '898-7841 Turpis. St.', '898-7841', 'Lauro de Freitas','Bahia','ACTIVE'),
          (6000000007,'Hobbs','Imani F.','molestie.dapibus.ligula@necleoMorbi.ca', 'M', '8606 Est Rd.', '766-4433', 'Laramie','Wyoming','ACTIVE'), 
          (6000000008,'Espinoza','Tad B.','suscipit.est@idrisus.ca', 'M', '731-2824 Nunc Rd.', '731-2824', 'Terneuzen','Zeeland','ACTIVE'),
           (6000000010,'Walton',' Martena M.','gravida.sit.amet@loremluctusut.org', 'M', 'P.O. Box 549-3460 Aliquam Rd.', '549-3460', 'Saltillo','Coahuila','ACTIVE'),
           (6000000006, 'Battle','  Preston X.','taciti@diamdictumsapien.net', 'M', 'Ap #762-8642 Bibendum Av.', '549-3460', 'Bremerhaven','HB','ACTIVE')
         ]

### Performing the Read Operation

In [262]:
Customer = pd.DataFrame(Customer,columns=['Customer_ID', 'Lastname','Firstname', 'Email', 'Gender', 'Address', 'Postcode','Town','State','Status'])

In [263]:
for i in range(len(Customer)):
    cursr.execute(data_ins2,[int(Customer['Customer_ID'][i]), Customer['Lastname'][i], Customer['Firstname'][i],Customer['Email'][i], Customer['Gender'][i], Customer['Address'][i], Customer['Postcode'][i], Customer['Town'][i], Customer['State'][i], Customer['Status'][i]])

In [255]:
cursr.execute('select * from Customer ;').fetchall()

[(6000000001,
  'Fitzgerald H.',
  'Randolph',
  'enim.nec@elit.ca',
  'M',
  '481-3524 Donec Av.',
  '481-3524',
  'Estevan',
  'SK',
  'ACTIVE'),
 (6000000002,
  'Nehru B.',
  'Underwood',
  'sem@nisi.ca',
  'M',
  'P.O. Box 194, 9109 Nascetur St.',
  '194-9109',
  'Kırıkhan',
  'Hatay',
  'ACTIVE'),
 (6000000003,
  'Yael U.',
  'Ray',
  'in@parturientmontesnascetur.co.uk',
  'M',
  '8886 Nam Av.',
  '431-4534',
  'Neudörfl',
  'Bgl',
  'ACTIVE'),
 (6000000004,
  ' Barry R.',
  'Mejia',
  'In.ornare@etipsum.co.uk',
  'M',
  '636-448 Auctor St.',
  '636-448',
  'Qambar Shahdadkot',
  'Sindh',
  'ACTIVE'),
 (6000000009,
  'Lois P.2',
  'Chapman',
  'elit.Aliquam.auctor@erateget.ca',
  'M',
  '544-8399 Quam. St.',
  '544-8399',
  'Besançon',
  'Franche-Comté',
  'ACTIVE'),
 (6000000005,
  ' Skyler B.',
  'Brennan',
  'aliquet.sem.ut@blandit.org',
  'M',
  '898-7841 Turpis. St.',
  '898-7841',
  'Lauro de Freitas',
  'Bahia',
  'ACTIVE'),
 (6000000007,
  'Imani F.',
  'Hobbs',
  'molestie.dapibus.ligula@necleoMorbi.ca',
  'M',
  '8606 Est Rd.',
  '766-4433',
  'Laramie',
  'Wyoming',
  'ACTIVE'),
 (6000000008,
  'Tad B.',
  'Espinoza',
  'suscipit.est@idrisus.ca',
  'M',
  '731-2824 Nunc Rd.',
  '731-2824',
  'Terneuzen',
  'Zeeland',
  'ACTIVE'),
 (6000000010,
  ' Martena M.',
  'Walton',
  'gravida.sit.amet@loremluctusut.org',
  'M',
  'P.O. Box 549-3460 Aliquam Rd.',
  '549-3460',
  'Saltillo',
  'Coahuila',
  'ACTIVE'),
 (6000000006,
  '  Preston X.',
  'Battle',
  'taciti@diamdictumsapien.net',
  'M',
  'Ap #762-8642 Bibendum Av.',
  '549-3460',
  'Bremerhaven',
  'HB',
  'ACTIVE')]

### Feedback Table

In [106]:
cursr.execute('drop table if exists feedback;')

In [107]:
qry3 = '''CREATE TABLE feedback (
feedback_id INTEGER (10) NOT NULL,
text varchar(100));'''
cursr.execute(qry3)

### Inserting data into the Feedback table

In [108]:
data_ins3 ="Insert into feedback (feedback_id, text) VALUES (?,?);"

fb =  [
          (901, 'Good'),
          (902, 'Good'),
          (903, 'Bad'),
          (909, 'Good'),
          (904, 'Good'),
          (905, 'Good'),
          (907, 'Good'), 
          (908, 'Good'),
          (910, 'Bad'),
          (906, 'Good') 
          ]

In [109]:
fb = pd.DataFrame(fb,columns=['feedback_id', 'text'])

### Performing the Read Operation

In [110]:
for i in range(len(fb)):
    cursr.execute(data_ins3,[int(fb['feedback_id'][i]), fb['text'][i]])

In [111]:
cursr.execute('select * from feedback;').fetchall()

[(901, 'Good'),
 (902, 'Good'),
 (903, 'Bad'),
 (909, 'Good'),
 (904, 'Good'),
 (905, 'Good'),
 (907, 'Good'),
 (908, 'Good'),
 (910, 'Bad'),
 (906, 'Good')]

### Menu Table

In [195]:
cursr.execute('drop table if exists Menu;')

In [196]:
qry4 = ''' CREATE TABLE Menu (
Menu_ID INTEGER (10) NOT NULL,
Menu_Name Varchar (50) NOT NULL,
Category INTEGER (10) NOT NULL,
Price INTEGER (10) NOT NULL,
Status Varchar (50)); '''
cursr.execute(qry4)

### Inserting data into the Menu Table

In [197]:
data_ins4 = "Insert into Menu ( Menu_ID, Menu_Name, Category, Price, Status) VALUES (?,?,?,?,?);"

Menu =  [(  22,' Pizza_marg' ,'MAINS', 10, 'Available'),
          ( 20,' Pizza_cheese', 'MAINS', 10, 'Available'),
          ( 34,'Chicken Burger and Coke ','SIDES', 20,'Available'),
          ( 29,'Chicken Nuggets', 'SIDES', 5, 'Available'),
          ( 54, 'Pizza_veg','MAINS', 10, 'Available'),
          ( 45, 'Fries','SIDES', 5, 'Available'),
          ( 33,'Garlic bread' ,'SIDES', 15, 'Available'),
          ( 38,'Chicken wings' ,'SIDES', 20, 'Unavailable'),
          ( 48,'Pizza tomato' ,'MAINS', 15, 'Available'),
          ( 21,'Coke' ,'DRINKS', 5, 'Available'),
          ( 18,'Pizza mushroom' ,'MAINS', 15, 'Available'),
          ( 24,'Lemonade' ,'DRINKS', 5, 'Available')
          ]

In [198]:
Menu = pd.DataFrame(Menu,columns=['Menu_ID', 'Menu_Name', 'Category', 'Price', 'Status'])

### Performing the Read Operation

In [199]:
for i in range(len(Menu)):
    cursr.execute(data_ins4,[int(Menu['Menu_ID'][i]), Menu['Menu_Name'][i], Menu['Category'][i],int(Menu['Price'][i]), Menu['Status'][i]])

In [200]:
cursr.execute('select * from Menu ;').fetchall()

[(22, ' Pizza_marg', 'MAINS', 10, 'Available'),
 (20, ' Pizza_cheese', 'MAINS', 10, 'Available'),
 (34, 'Chicken Burger and Coke ', 'SIDES', 20, 'Available'),
 (29, 'Chicken Nuggets', 'SIDES', 5, 'Available'),
 (54, 'Pizza_veg', 'MAINS', 10, 'Available'),
 (45, 'Fries', 'SIDES', 5, 'Available'),
 (33, 'Garlic bread', 'SIDES', 15, 'Available'),
 (38, 'Chicken wings', 'SIDES', 20, 'Unavailable'),
 (48, 'Pizza tomato', 'MAINS', 15, 'Available'),
 (21, 'Coke', 'DRINKS', 5, 'Available'),
 (18, 'Pizza mushroom', 'MAINS', 15, 'Available'),
 (24, 'Lemonade', 'DRINKS', 5, 'Available')]

#### Mean while the Fast Food delivery Limited thought of increasing the price of the MAINS by 20% and 10% on items other than MAINS from next month as the demand goes high

### Hence performing the CRUD operation

Update operation for updating the price of the menu Items

In [201]:
cursr.execute('select * from menu').fetchall()

[(22, ' Pizza_marg', 'MAINS', 10, 'Available'),
 (20, ' Pizza_cheese', 'MAINS', 10, 'Available'),
 (34, 'Chicken Burger and Coke ', 'SIDES', 20, 'Available'),
 (29, 'Chicken Nuggets', 'SIDES', 5, 'Available'),
 (54, 'Pizza_veg', 'MAINS', 10, 'Available'),
 (45, 'Fries', 'SIDES', 5, 'Available'),
 (33, 'Garlic bread', 'SIDES', 15, 'Available'),
 (38, 'Chicken wings', 'SIDES', 20, 'Unavailable'),
 (48, 'Pizza tomato', 'MAINS', 15, 'Available'),
 (21, 'Coke', 'DRINKS', 5, 'Available'),
 (18, 'Pizza mushroom', 'MAINS', 15, 'Available'),
 (24, 'Lemonade', 'DRINKS', 5, 'Available')]

In [202]:
mains = 'update menu set price = price+price*0.2 where Category="MAINS"'
cursr.execute(mains)

In [203]:
mains = 'update menu set price = price+price*0.1 where Category!="MAINS"'
cursr.execute(mains)

In [222]:
cursr.execute('select * from menu').fetchall()

[(22, ' Pizza_marg', 'MAINS', 12, 'Available'),
 (20, ' Pizza_cheese', 'MAINS', 12, 'Available'),
 (34, 'Chicken Burger and Coke ', 'SIDES', 22, 'Available'),
 (29, 'Chicken Nuggets', 'SIDES', 5.5, 'Available'),
 (54, 'Pizza_veg', 'MAINS', 12, 'Available'),
 (45, 'Fries', 'SIDES', 5.5, 'Available'),
 (33, 'Garlic bread', 'SIDES', 16.5, 'Available'),
 (38, 'Chicken wings', 'SIDES', 22, 'Unavailable'),
 (48, 'Pizza tomato', 'MAINS', 18, 'Available'),
 (21, 'Coke', 'DRINKS', 5.5, 'Available'),
 (18, 'Pizza mushroom', 'MAINS', 18, 'Available'),
 (24, 'Lemonade', 'DRINKS', 5.5, 'Available')]

In [205]:
# # Chaning the menu status 
# m_id = ['2912311','2145672']
# for i in range(len(m_id)):
#     food = 'update menu set status="Unavailable" where menu_id="'+m_id[i]+'";'
#     cursr.execute(food)

In [206]:
# cursr.execute('select * from menu').fetchall()

### Delete operation where customer didn't ordered for long time and became inactive

In [154]:
cust_id='6000000005'

in_active = 'delete from Customer where Customer_ID="'+cust_id+'";'
cursr.execute(in_active)
cursr.execute('select * from Customer;').fetchall()

[(6000000001,
  'Fitzgerald H.',
  'Randolph',
  'enim.nec@elit.ca',
  'M',
  '481-3524 Donec Av.',
  '481-3524',
  'Estevan',
  'SK',
  'ACTIVE'),
 (6000000002,
  'Nehru B.',
  'Underwood',
  'sem@nisi.ca',
  'M',
  'P.O. Box 194, 9109 Nascetur St.',
  '194-9109',
  'Kırıkhan',
  'Hatay',
  'ACTIVE'),
 (6000000003,
  'Yael U.',
  'Ray',
  'in@parturientmontesnascetur.co.uk',
  'M',
  '8886 Nam Av.',
  '431-4534',
  'Neudörfl',
  'Bgl',
  'ACTIVE'),
 (6000000004,
  ' Barry R.',
  'Mejia',
  'In.ornare@etipsum.co.uk',
  'M',
  '636-448 Auctor St.',
  '636-448',
  'Qambar Shahdadkot',
  'Sindh',
  'ACTIVE'),
 (6000000009,
  'Lois P.2',
  'Chapman',
  'elit.Aliquam.auctor@erateget.ca',
  'M',
  '544-8399 Quam. St.',
  '544-8399',
  'Besançon',
  'Franche-Comté',
  'ACTIVE'),
 (6000000007,
  'Imani F.',
  'Hobbs',
  'molestie.dapibus.ligula@necleoMorbi.ca',
  'M',
  '8606 Est Rd.',
  '766-4433',
  'Laramie',
  'Wyoming',
  'ACTIVE'),
 (6000000008,
  'Tad B.',
  'Espinoza',
  'suscipit.est@idrisus.ca',
  'M',
  '731-2824 Nunc Rd.',
  '731-2824',
  'Terneuzen',
  'Zeeland',
  'ACTIVE'),
 (6000000010,
  ' Martena M.',
  'Walton',
  'gravida.sit.amet@loremluctusut.org',
  'M',
  'P.O. Box 549-3460 Aliquam Rd.',
  '549-3460',
  'Saltillo',
  'Coahuila',
  'ACTIVE'),
 (6000000006,
  '  Preston X.',
  'Battle',
  'taciti@diamdictumsapien.net',
  'M',
  'Ap #762-8642 Bibendum Av.',
  '549-3460',
  'Bremerhaven',
  'HB',
  'ACTIVE')]

In [ ]:
# Above table now doesnot contain the inactive customer now.

## Performing No SQL Redis

In [223]:
import redis
r= redis.Redis(host='localhost', port=6379, db=4) #USE the Database number 5
print(r.ping())

True

In [224]:
mn = 'select * from menu where status="Available"'
mn = cursr.execute(mn).fetchall()
mn

[(22, ' Pizza_marg', 'MAINS', 12, 'Available'),
 (20, ' Pizza_cheese', 'MAINS', 12, 'Available'),
 (34, 'Chicken Burger and Coke ', 'SIDES', 22, 'Available'),
 (29, 'Chicken Nuggets', 'SIDES', 5.5, 'Available'),
 (54, 'Pizza_veg', 'MAINS', 12, 'Available'),
 (45, 'Fries', 'SIDES', 5.5, 'Available'),
 (33, 'Garlic bread', 'SIDES', 16.5, 'Available'),
 (48, 'Pizza tomato', 'MAINS', 18, 'Available'),
 (21, 'Coke', 'DRINKS', 5.5, 'Available'),
 (18, 'Pizza mushroom', 'MAINS', 18, 'Available'),
 (24, 'Lemonade', 'DRINKS', 5.5, 'Available')]

In [209]:
# mn_r['Menu_ID'].astype(str)+'_'+mn_r['Category']

In [231]:
mn_r = pd.DataFrame(mn,columns=['Menu_ID', 'Menu_Name', 'Category', 'Price', 'Status'])
mn_r['menu_index'] = mn_r['Menu_ID']#.astype(str)+'_'+mn_r['Category']#mn_r['Menu_ID']#+':'+mn_r['Category']
mn_r = mn_r.set_index('menu_index')
mn_r = mn_r.to_dict('index')
mn_r.values()

dict_values([{'Menu_ID': 22, 'Menu_Name': ' Pizza_marg', 'Category': 'MAINS', 'Price': 12.0, 'Status': 'Available'}, {'Menu_ID': 20, 'Menu_Name': ' Pizza_cheese', 'Category': 'MAINS', 'Price': 12.0, 'Status': 'Available'}, {'Menu_ID': 34, 'Menu_Name': 'Chicken Burger and Coke ', 'Category': 'SIDES', 'Price': 22.0, 'Status': 'Available'}, {'Menu_ID': 29, 'Menu_Name': 'Chicken Nuggets', 'Category': 'SIDES', 'Price': 5.5, 'Status': 'Available'}, {'Menu_ID': 54, 'Menu_Name': 'Pizza_veg', 'Category': 'MAINS', 'Price': 12.0, 'Status': 'Available'}, {'Menu_ID': 45, 'Menu_Name': 'Fries', 'Category': 'SIDES', 'Price': 5.5, 'Status': 'Available'}, {'Menu_ID': 33, 'Menu_Name': 'Garlic bread', 'Category': 'SIDES', 'Price': 16.5, 'Status': 'Available'}, {'Menu_ID': 48, 'Menu_Name': 'Pizza tomato', 'Category': 'MAINS', 'Price': 18.0, 'Status': 'Available'}, {'Menu_ID': 21, 'Menu_Name': 'Coke', 'Category': 'DRINKS', 'Price': 5.5, 'Status': 'Available'}, {'Menu_ID': 18, 'Menu_Name': 'Pizza mushroom', 'Category': 'MAINS', 'Price': 18.0, 'Status': 'Available'}, {'Menu_ID': 24, 'Menu_Name': 'Lemonade', 'Category': 'DRINKS', 'Price': 5.5, 'Status': 'Available'}])

In [232]:
# asbhdk

In [233]:
## we have two values in DF.items
## therefore we have defined two variables 
## Also, there are multiple keys in items thats why we used mset for hash keys.

with r.pipeline() as pipe:
    for Menu_ID,Category in mn_r.items():
        pipe.hmset(Menu_ID, Category)
        print("Menu ID:", Menu_ID,"Category:",Category)
    pipe.execute()

Menu ID: 22 Category: {'Menu_ID': 22, 'Menu_Name': ' Pizza_marg', 'Category': 'MAINS', 'Price': 12.0, 'Status': 'Available'}
Menu ID: 20 Category: {'Menu_ID': 20, 'Menu_Name': ' Pizza_cheese', 'Category': 'MAINS', 'Price': 12.0, 'Status': 'Available'}
Menu ID: 34 Category: {'Menu_ID': 34, 'Menu_Name': 'Chicken Burger and Coke ', 'Category': 'SIDES', 'Price': 22.0, 'Status': 'Available'}
Menu ID: 29 Category: {'Menu_ID': 29, 'Menu_Name': 'Chicken Nuggets', 'Category': 'SIDES', 'Price': 5.5, 'Status': 'Available'}
Menu ID: 54 Category: {'Menu_ID': 54, 'Menu_Name': 'Pizza_veg', 'Category': 'MAINS', 'Price': 12.0, 'Status': 'Available'}
Menu ID: 45 Category: {'Menu_ID': 45, 'Menu_Name': 'Fries', 'Category': 'SIDES', 'Price': 5.5, 'Status': 'Available'}
Menu ID: 33 Category: {'Menu_ID': 33, 'Menu_Name': 'Garlic bread', 'Category': 'SIDES', 'Price': 16.5, 'Status': 'Available'}
Menu ID: 48 Category: {'Menu_ID': 48, 'Menu_Name': 'Pizza tomato', 'Category': 'MAINS', 'Price': 18.0, 'Status': 'Available'}
Menu ID: 21 Category: {'Menu_ID': 21, 'Menu_Name': 'Coke', 'Category': 'DRINKS', 'Price': 5.5, 'Status': 'Available'}
Menu ID: 18 Category: {'Menu_ID': 18, 'Menu_Name': 'Pizza mushroom', 'Category': 'MAINS', 'Price': 18.0, 'Status': 'Available'}
Menu ID: 24 Category: {'Menu_ID': 24, 'Menu_Name': 'Lemonade', 'Category': 'DRINKS', 'Price': 5.5, 'Status': 'Available'}

<ipython-input-233-58d2d901eae0>:7: DeprecationWarning: Pipeline.hmset() is deprecated. Use Pipeline.hset() instead.
  pipe.hmset(Menu_ID, Category)

In [234]:
r.bgsave()

True

In [215]:
# r.flushdb

In [235]:
r.keys()

[b'21', b'29', b'34', b'48', b'22', b'18', b'45', b'54', b'24', b'33', b'20']

### Read the data in Redis

In [236]:
r.hgetall('18')

{b'Menu_ID': b'18',
 b'Menu_Name': b'Pizza mushroom',
 b'Category': b'MAINS',
 b'Price': b'18.0',
 b'Status': b'Available'}

### Updation Operation in Redis

In [237]:
menu_change_id = 18
r.hset(menu_change_id,"Status", "Unavailable") #changing/Updating the status of the menu item which became unavailable

0

In [238]:
r.hgetall('18') # Read the menu item again after making it unavailable

{b'Menu_ID': b'18',
 b'Menu_Name': b'Pizza mushroom',
 b'Category': b'MAINS',
 b'Price': b'18.0',
 b'Status': b'Unavailable'}

In [239]:
r.hgetall('29')

{b'Menu_ID': b'29',
 b'Menu_Name': b'Chicken Nuggets',
 b'Category': b'SIDES',
 b'Price': b'5.5',
 b'Status': b'Available'}

## Delete Operation in Redis

In [240]:
delete_menu = 29
r.delete(delete_menu)# Deleting the data from the menu Item as the organization thought of not selling the item again.

1

In [241]:
r.hgetall('29')

{}

### Polyglot Persistence

In [242]:
# Check the product avalability 
def menu_availability(m_id):
    q = 'select Status from menu where menu_id=?'
    re = cursr.execute(q,(m_id,)).fetchall()
    print(re[0][0])
    if re[0][0]=='Available':
        return True
    else:
        return False

In [243]:
menu_availability(24)

Available

True

In [244]:
# Update function

def update_status_1(men_id):
    q = 'update menu set Status="Unavailable" where menu_id=?'
    cursr.execute(q,(men_id,))
    conn.commit()
    
    #reddis
    r.hset(men_id,"Status", "Unavailable")

def update_status_2(men_id):
    q = 'update menu set Status="Available" where menu_id=?'
    cursr.execute(q,(men_id,))
    conn.commit()
    
    #reddis
    r.hset(men_id,"Status", "Available")

In [245]:
def update_menu():
    menu_id = input('Enter the menu ID = ')
    if menu_availability(menu_id)==True:
        update_status_1(menu_id)
        print('Menu is Unavailable Now')
    elif menu_availability(menu_id)==False: 
        update_status_2(menu_id)
        print('Menu made Available')

In [246]:
menu_availability(24) # SQL status
print(r.hgetall("24")) # redis status

Available
{b'Menu_ID': b'24', b'Menu_Name': b'Lemonade', b'Category': b'DRINKS', b'Price': b'5.5', b'Status': b'Available'}

In [247]:
update_menu()

Enter the menu ID = 24
Available
Menu is Unavailable Now

In [248]:
menu_availability(24) # SQL status
print(r.hgetall("24")) # redis status

Unavailable
{b'Menu_ID': b'24', b'Menu_Name': b'Lemonade', b'Category': b'DRINKS', b'Price': b'5.5', b'Status': b'Unavailable'}